html, body {
	height: 100%;
	width: 100%;
}
body {
	overflow: hidden;
	cursor: crosshair;
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#chrome {
	z-index: 2;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 20vh;
	width: 100%;
	
	border-top: 2px solid;
	box-shadow: 0 0 5vh #000;

	background:
linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
background-color:#708090;
background-size: 64px 128px
}
#chrome > div {
	display: inline-block;
	background: rgba(0, 0, 0, .25);
	color: white;
	padding: 1em;
	font-family: Helvetica;
	text-shadow: 0 0 3px #000;
}
#chrome .sound .disabled {
	display: none;
}
.sound-disabled #chrome .sound .enabled {
	display: none;
}
.sound-disabled #chrome .sound .disabled {
	display: block;
}
#chrome .sound {
	position: absolute;
	bottom: 0;
	right: 0;
}
#app {
	position: relative;
	z-index: 100;
}
#app svg {
	width: 8vw;
	height: 8vw;
}
#app .galleon-container {
	display: inline-block;
	top: 12vh;
	position: relative;
	left: 0;
	animation: back-forth 10s infinite;
	cursor: crosshair;
}

#app .galleon-container[data-hits='5'] svg {
	opacity: 0;
	fill: black;
	margin-top: 20vh;
	transition: all 1s;
	filter: blur(10vw);
}

#app svg.chest > path,
#app svg.chest-open > path {
	fill: transparent;
}
#app svg.chest {
	width: 50vw;
	height: 50vw;
	display: block;
	margin: 0 auto;
	cursor: -webkit-grab;
}
#app svg.chest-open {
	width: 50vw;
	height: 50vw;
	display: block;
	margin: 0 auto;
	cursor: -webkit-grabbing;
}
#app svg g path{
	transition: all .4s;
	fill: white;
}
#app svg.galleon g path{
	fill: #541717;
}
#app svg.galleon > path{
	fill: transparent;
}
#app svg.chest:hover g path{
	fill: brown;
}
#app svg.chest-open:hover g path{
	fill: gold;
}
.imgs {
	display: none;
}

#app svg.galleon[data-hits='1'] g path{
	fill: #521010;
}
#app svg.galleon[data-hits='2'] g path{
	fill: #5d0d0d;

}
#app svg.galleon[data-hits='3'] g path{
	fill: #710a0a;

}
#app svg.galleon[data-hits='4'] g path{
	fill: #770404;

}
#app svg.galleon[data-hits='5'] g path{
	fill: red;
}
#app.hit svg.galleon g path {
	animation: blink .5s;
}
#app.hit svg.galleon[data-hits='4'] g path,
#app.hit svg.galleon[data-hits='5'] g path {
	animation: blink-hard .5s;
}

.galleon-container {
	position: relative;
}

#win {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	font-size: 10em;
	text-align: center;
	line-height: 100%;
	display: none;
	z-index: 1000;
	padding-top: 20%;
	font-family: Helvetica;
	color: #fff;
}

@keyframes blink {
	 0% { transform: rotate(0deg); }
	 50% { fill: red; transform: rotate(3deg); }
   55% { transform: rotate(-2deg); }
   60% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

@keyframes blink-hard {
	 0% { transform: rotate(0deg); }
	 50% { fill: red; transform: rotate(5deg); }
   55% { transform: rotate(-5deg); }
   60% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes back-forth {
    0%   { left: -15vw; }
    15%  { transform: scaleX(2) scaleY(2); }
    50%  { left: calc(100% + 15vw); transform: scaleX(1) scaleY(1); filter: none; }
    55%  { transform: scaleX(-1) scaleY(1); filter: FlipH; }		    
    65%  { transform: scaleX(-2) scaleY(2); }
    100% { left: -15vw; transform: scaleX(-1) scaleY(1); filter: FlipH; }
}

.cannon-container {
	position: absolute;
	bottom: -20vh;
	left: calc(50% - 8vw);
	z-index: 10;
	transform: rotate(var(--cursor-rotate));
}
.cannon-container svg {
	width: 16vw;
}

.cannonball {
	z-index: 3;
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	background: radial-gradient(circle at 100px 100px, #3d3d3d, #000);
	position: absolute;
	left: calc(50% + 1.5vw);
	bottom: 0;
	animation: ball-fly .5s;
}

button {
	display: block;
	padding: 1em;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	border-color: black;
}
button:hover {
	background: black;
	color: white;
}


#ocean{
  position:fixed;
  width:100%;
  min-height:100%;
  left: 0;
  bottom: 10vh;
  z-index: 1;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(0,50,150)),
  color-stop(0.50, rgb(0,150,255))
  );
}

.wave{
  --wave-height: 35%;
  background:#a8e3ff;
  display:inline-block;
  height: var(--wave-height);
  width:10px;
  position:absolute;
  -webkit-animation-name:             dostuff; 
  -webkit-animation-duration:         10s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: ease-in-out;
}


@-webkit-keyframes dostuff{
  0%{
    height:var(--wave-height);
  }
  50%{ 
    height:30%;
  }
  100%{ 
    height:var(--wave-height);
  }
}

@keyframes ball-fly {
	0% {
		transform: scale(1);
		left: calc(50% - 1.5vw);
		top: calc(100vh - 110px);
		box-shadow: none;
	}
	50% {
		box-shadow: 0 20vh 10vh #000;
	}
	100% {
		transform: scale(.3);
		top: calc(var(--cursor-clicked-top) - 1.5vw);
		left: calc(var(--cursor-clicked-left) - 1.5vw);
		filter: blur(3px);
		box-shadow: none;
	}
}
